<div class="navbar navbar-expand-sm bg-primary navbar-dark fixed-middle">
  <span class="navbar-brand px-3">
    SEC 403
  </span>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/notes']">Forum</a>
      </li>

      <li class="nav-item RSS">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">RSS Feeds</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/rss']">Vulnerability</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/rss2']">Cyber Attacks</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/rss3']">Threat Reports</a>
        </div>
      </li>

      <li class="nav-item intel">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">Intel</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/sec']">8-K Filings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/iplookup']">IP Lookup</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/whois']">Domain Lookup</a>
        </div>
      </li>

     <li class="nav-item user dropdown" *ngIf="!userService.LoggedIn; else loggedInUser">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
     data-bs-toggle="dropdown" aria-expanded="false">User</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
    <a class="dropdown-item" [routerLink]="['/login']">Login</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/register']">Signup</a>
  </div>
</li>

<ng-template #loggedInUser>
  <li class="nav-item user dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">User</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
      <a class="dropdown-item" [routerLink]="['/user']">Profile</a>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" (click)="logout()">Logout</button>
    </div>
  </li>
</ng-template>
    </ul>
  </div>

