<div class="navbar navbar-expand-sm bg-primary navbar-dark fixed-middle">
    <span class="navbar-brand">
        SEC 403
    </span>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/notes']">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rss']">RSS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/iplookup']">IP</a>
    </li>

      <li class="nav-item intel">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Intel</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/rss']">RSS Feeds</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/iplookup']">IP</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item user">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/user']">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Delete Account</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']">Signup</a>
    </li>
    </ul>
    <div class="form-inline ms-auto" style="margin-right: 10px">
        <auth-button></auth-button>
    </div>
</div>
