<div class="container px-4" style="margin-top: 70px">
  @for (note of note_list; track note.title) {

  <div class="row gx-5">
    <div class="col-sm-12">
      <div class="display-1">
        {{note.category}}
      </div>

      <p></p>
      Note Title: {{ note.title }}
    </div>
  </div>

  <p></p>

  <button type="button" class="btn btn-danger" (click)="deleteNote()">Delete Category</button>


  <div class="row mt-4">

    <div class="col-md-6">
      @for (notesub of notesub_list; track notesub) {
      <div class="card bg-light mb-3">
        <div class="card-header">
          <strong>User:</strong> {{ notesub.username }}
        </div>
        <div class="card-body">
          <strong>Comment:</strong> {{ notesub.comment }}
        </div>
        <div class="card-body">
          <strong>Risk Score:</strong> {{ notesub.riskscore }}
        </div>
        <div class="card-body">
          <strong>Source:</strong> {{ notesub.source }}
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-danger" (click)="deleteNotesub(notesub._id)">Delete Comment</button>
        </div>
      </div>
      <p></p>
      }
    </div>

    <div class="col-md-6">
      <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
        <h2>Submit a New Comment</h2>
        <form [formGroup]="notesubForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username"
              class="form-control" formControlName="username"
              [ngClass]="{ 'error': isInvalid('username') }">
          </div>
          <div class="form-group">
            <label for="comment">Insert Comment Below</label>
            <textarea name="comment" id="comment" class="form-control"
              formControlName="comment" [ngClass]="{ 'error': isInvalid('comment') }"></textarea>
          </div>
          <div class="form-group">
            <label for="riskscore">Please Provide a Risk Score (1 = low risk & 5 = high risk)</label>
            <select name="riskscore" id="riskscore" class="form-control" formControlName="riskscore">
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              <option value="5"> 5 </option>
            </select>
          </div>
          <div class="form-group">
            <label for="source">Insert Source Below</label>
            <textarea name="source" id="source" class="form-control"
              formControlName="source" [ngClass]="{ 'error': isInvalid('source') }"></textarea>
          </div>
          <span *ngIf="isIncomplete()">
            *Please fill out all fields*
          </span>
          <button class="btn btn-primary" type="submit" style="margin-top: 20px">
            Submit
          </button>
        </form>
      </ng-container>

      <ng-template #loggedOut>
        <h2>User Must Login to Submit a Comment</h2>
      </ng-template>
    </div>
  </div>


  }
</div>
