
<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-4">
      @for (note of note_list; track note) {
        <div class="card text-white bg-primary mb-3"
          style="cursor: pointer"
          [routerLink] = "['/notes/' + note._id]">
          <div class="card-header">
            {{note.title}}
          </div>
          <div class="card-body">
            {{note.category}}
          </div>
        </div>
      }
    </div>
  </div>

  <div class="row">
      <div class="col-sm-4">
          <button class="btn btn-secondary"
                  (click) = "previousPage()">
              Previous
          </button>
      </div>
      <div class="col-sm-4 text-center align-self-center">
          showing page {{ this.page }}
          of {{ this.dataService.getLastPageNumber() }}
      </div>
      <div class="col-sm-4 text-end">
          <button class="btn btn-secondary"
                  (click) = "nextPage()">
              Next
          </button>
      </div>
  </div>

  <div class="container1" style="margin-top: 70px">
    <div class="row">
        <div class="col-sm-5">
          <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
              <h2>Create a New Note Entry</h2>
              <form [formGroup]="noteForm"
                    (ngSubmit) = "onSubmit()">
                  <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" name="title" id="title"
                      class="form-control" formControlName="title"
                      [ngClass]="{ 'error': isInvalid('title') }">
                  </div>
                  <div class="form-group">
                      <label for="category">Insert category Below</label>
                      <textarea name="category" id="category"
                                class="form-control" formControlName="category"
                                [ngClass]="{ 'error': isInvalid('category')  }">
                      </textarea>
                  </div>

                  <button
                          class=" btn btn-primary"
                          type="submit" style="margin-top: 20px">
                          Submit
                  </button>
              </form>
            </ng-container>

            <ng-template #loggedOut>
              <h2>
                User Must Login to Create a New Category
              </h2>
            </ng-template>
        </div>
</div>
</div>

