<div *ngIf="error" style="color: red;">
  <p>{{ error }}</p>
</div>

<p></p>
<div *ngIf="!error" style="text-align: center;">
  <h1>Threat Reports</h1>

  <div *ngIf="entries.length === 0">
    <p>No entries found with the specified keywords.</p>
  </div>

  <div class="feed-container px-4" style="margin-top: 70px">
    <div class="row gx-5">
      <div class="col">
  <div *ngFor="let entry of entries" class="entry">
    <h2><a [href]="entry.link" target="_blank">{{ entry.title }}</a></h2>
    <!-- <time>{{ entry.published }}</time> -->
    <p>{{ entry.description }}....</p>
    <p>Please Click The Title To Read More</p>
  </div>
      </div>
    </div>
</div>
