<div *ngIf="user" class="card p-4 shadow mt-4" style="max-width: 400px; margin: auto;">
  <h2 class="text-center mb-4">User Profile</h2>
  <p><strong>Name:</strong> {{ user.name }}</p>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>


  <button class="btn btn-danger mt-3" (click)="deleteAccount()">Delete Account</button>


  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>

<div *ngIf="!user" class="text-center mt-4">
  <p>User Not Logged In</p>
</div>
